.contacts {
  background-image: linear-gradient(to bottom, #ffffff 84px, $second-bg-color 84px);
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 78px, $second-bg-color 78px);
  }
}

.contacts__list {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
  }
}

.contacts__item {
  width: 220px;
  padding: 43px 20px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    padding: 50px 31px;
  }
}

.contacts__item + .contacts__item {
  margin-top: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 20px;
  }
}

.contacts__tittle {
  display: inline-block;
  padding: 3px 25px;
  border-radius: 4px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $second-title-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contacts__tittle--brown {
  background-color: $second-current-color;
}

.contacts__tittle--green {
  background-color: $third-current-color;
}

.contacts__city {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: $second-text-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

.contacts__text {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $third-text-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    line-height: 1.66;
  }
}

.schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.schedule__item + .schedule__item {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
  }
}

.schedule__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $second-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.schedule__hours {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $fourth-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts-information {
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

.contacts-information__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $third-text-color;
  &:hover,
  &:focus {
    color: $hover-text-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.83;
  }
}

.btn-list {
  margin-top: 54px;
  max-width: 161px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
    max-width: 393px;
    margin-top: 81px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-list__item {
  position: relative;
}

.btn-list__item + .btn-list__item {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 15px;
  }
}

.btn-list__btn {
  min-width: 161px;
  height: 44px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.btn-list__btn--red {
  color: $main-text-color;
  background-color: $main-btn-color;
  &:hover,
  &:focus {
    background-color: #8a0a2a;
  }
  @media screen and (min-width: 768px) {
    width: 198px;
  }
}

.btn-list__btn--white {
  color: $main-btn-color;
  background-color: $main-text-color;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
  }
}

.btn-list__icon {
  fill-opacity: 0;
  margin-left: 8px;
  min-width: 4px;
  min-height: 8px;
  @media screen and (min-width: 768px) {
    margin-left: 14px;
  }
}
