.background-wrap {
  margin: 0 auto;
}

.background {
  overflow: hidden;
  background-color: #ffb8ca;
  background-image: url(../images/icecream-mob-1x-min.png), url(../images/ellipse_3.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 50px) bottom 0px, left calc(50% + 50px) bottom 75px;
}

.header {
  padding-top: 6px;
  @media screen and (min-width: 768px) {
    padding-top: 38px;
  }
}

.hero {
  padding-top: 137px;
  padding-bottom: 160px;
}

.menu__flex {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
  margin-left: 110px;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.nav__list {
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 35px;
}

.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $main-text-color;
  &--curent {
    color: $main-title-color;
  }
}

.menu__btn {
  position: relative;
  width: 20px;
  height: 12px;
  margin-right: 0px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  @media screen and (min-width: 1279px) {
    display: none;
  }
}

.menu__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.buy-now {
  position: relative;
  display: none;
  margin-left: 30px;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: 0px;
  }
}

.buy-now__btn {
  padding: 16px 40px;
  padding-right: 56px;
  border-radius: 30px;
  border: none;
  color: $main-title-color;
  background-color: $second-btn-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.buy-now__icon {
  position: absolute;
  right: 37px;
  top: 21px;
}

// ----------------MOB-MENU---------------------

.mob-menu {
  position: fixed;
  top: 0;
  right: 0px;
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  background-color: #e17992;
  z-index: 10;
  transform: translateX(100%);
  transition: transform $time $cube;
  @media screen and (min-width: 768px) {
    width: 35%;
  }
}

.mob-menu.is-open {
  transform: translateX(0);
}

.mob-menu__close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $hover-icon-bg-color;
  }
}

.mob-menu__close-icon {
  width: 24px;
  height: 16px;
}

.buy-now--mob {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 209px;
  height: 44px;
}

.buy-now__btn--mob {
  display: block;
  padding: 16px 83px 16px 60px;
}

.buy-now__icon--mob {
  position: absolute;
  display: block;
}

.mob-menu__list {
  margin-top: 28px;
}

.mob-menu__item {
  min-height: 42px;
  padding-left: 21px;
  border: 1px solid #e18298;
}

.mob-menu__link {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  color: $main-text-color;
  &--curent {
    color: $main-title-color;
  }
}

// ------------------HERO---------------------
.hero__tittle {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__passion {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 96.5%;
  /* or 46px */
  text-transform: uppercase;

  color: #d41443;
}

.hero__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 19px;
  margin-bottom: 0px;
}

.hero__item {
  width: auto;
  height: 24px;
}

.hero__item + .hero__item {
  margin-left: 15px;
}

.hero__link {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
}

.hero__link--product {
  color: #ffffff;
  background-color: #d41443;
}

.hero__link--made {
  color: #d41443;
  background-color: #ffffff;
}
