.product {
  padding-top: 121px;
  padding-bottom: 97px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.product__pre-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $fourth-text-color;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13x;
  }
}

.product__title {
  margin-top: 15px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-title-color;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.produsct__list {
  margin-top: 144px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
  }
  @media screen and (min-width: 1280px) {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 259px;
  }
}

.product__card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  padding: 161px 40px 41px 40px;
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    width: 220px;
    padding: 152px 11px 40px 11px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0;
    min-width: 330px;
    padding: 163px 44px 50px 44px;
  }
}

.product__card + .product__card {
  margin-top: 130px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 30px;
  }
}

.product__card--first {
  background-color: #ffb8ca;
  &::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../images/product-1-mob-1x-min.png);
    background-repeat: no-repeat;
    width: 249px;
    height: 252px;
    top: -113px;
    left: calc(50% - 125px);
    @media screen and (min-width: 768px) {
      background-image: url(../images/product-1-tab-1x-min.png);
      width: 220px;
      height: 226px;
      left: calc(50% - 110px);
      top: -104px;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../images/product-1-desk-1x-min.png);
      width: 335px;
      height: 335px;
      left: calc(50% - 168px);
      top: -210px;
    }
  }
}

.product__card--second {
  background-color: #f0d1a5;
  &::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../images/product-2-mob-1x-min.png);
    background-repeat: no-repeat;
    width: 249px;
    height: 252px;
    top: -113px;
    left: calc(50% - 125px);
    @media screen and (min-width: 768px) {
      background-image: url(../images/product-2-tab-1x-min.png);
      width: 220px;
      height: 226px;
      left: calc(50% - 110px);
      top: -104px;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../images/product-2-desk-1x-min.png);
      width: 335px;
      height: 335px;
      left: calc(50% - 168px);
      top: -210px;
    }
  }
}

.product__card--third {
  background-color: #c2e297;
  &::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../images/product-3-mob-1x-min.png);
    background-repeat: no-repeat;
    width: 249px;
    height: 252px;
    top: -113px;
    left: calc(50% - 125px);
    @media screen and (min-width: 768px) {
      background-image: url(../images/product-3-tab-1x-min.png);
      width: 220px;
      height: 226px;
      left: calc(50% - 110px);
      top: -104px;
    }
    @media screen and (min-width: 1280px) {
      background-image: url(../images/product-3-desk-1x-min.png);
      width: 335px;
      height: 335px;
      left: calc(50% - 168px);
      top: -210px;
    }
  }
}

.product__name {
  position: relative;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $second-title-color;
  &::after {
    content: '';
    position: absolute;
    background-image: url(../images/product-dots.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 6px;
    top: 53px;
    left: calc(50% - 13px);
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product__meta {
  position: relative;
  margin-top: 66px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-text-color;
  @media screen and (min-width: 768px) {
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.product__main {
  transition: opacity 1000ms $cube, visability $time $cube;
}

.product__addition {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1000ms $cube, visability $time $cube;
}

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.product__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $second-btn-color;
  @media screen and (min-width: 1280px) {
    margin-top: 62px;
  }
}

.btn__icon {
  fill: $hover-text-color;
  width: 11px;
  height: 13px;
}
