<section class="product" id="products">
  <div class="container">
    <p class="product__pre-tittle">100% natural</p>
    <h2 class="product__tittle">products</h2>
    <ul class="produsct__list">
      <li class="product__card product__card--first">
        <h3 class="product__name">ice cream</h3>
        <p class="product__meta">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product__btn btn">
          <svg class="btn__icon"><use href="images/icons.svg#icon-arrow-right-new"></use></svg>
        </button>
      </li>
      <li class="product__card product__card--second">
        <h3 class="product__name">ice coffee</h3>
        <p class="product__meta">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product__btn btn">
          <svg class="btn__icon"><use href="images/icons.svg#icon-arrow-right-new"></use></svg>
        </button>
      </li>
      <li class="product__card product__card--third">
        <h3 class="product__name">milkshakes</h3>
        <p class="product__meta">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="product__btn btn">
          <svg class="btn__icon"><use href="images/icons.svg#icon-arrow-right-new"></use></svg>
        </button>
      </li>
    </ul>
  </div>
</section>
