<section class="reviews">
  <div class="container">
    <div class="reviews-first">
      <div class="img-thumb">
        <img src="images/reviews-person-icon-min.png" alt="девушка" />
      </div>
      <div class="reviews-wrap">
        <p class="reviews-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews-name">Emily, Los Angeles</p>
    </div>
    <div class="reviews-second">
      <div class="img-thumb">
        <img src="images/test-1.png" alt="девушка" />
      </div>
      <div class="reviews-wrap">
        <p class="reviews-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews-name">Anna, Chicago</p>
    </div>
    <div class="reviews-third">
      <div class="img-thumb">
        <img src="images/test-2.png" alt="девушка" />
      </div>
      <div class="reviews-wrap">
        <p class="reviews-text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <p class="reviews-name">Kim, New York</p>
    </div>
  </div>
</section>
